---
swagger: "2.0"
info:
  description: "# Introduction\n\nThe Dyspatch API is based on the REST paradigm,\
    \ and features resource based URLs with standard HTTP response\ncodes to indicate\
    \ errors. We use standard HTTP authentication and request verbs, and all responses\
    \ are JSON formatted.\nSee our [Implementation Guide](https://docs.dyspatch.io/development/implementing_dyspatch/)\
    \ for more details on\nhow to implement Dyspatch.\n\n## API Client Libraries\n\
    \nDyspatch provides API Clients for popular languages and web frameworks. \n\n\
    - [Java](https://github.com/getdyspatch/dyspatch-java)\n- [Javascript](https://github.com/getdyspatch/dyspatch-javascript)\n\
    - [Python](https://github.com/getdyspatch/dyspatch-python)\n- [C#](https://github.com/getdyspatch/dyspatch-dotnet)\n\
    - [Go](https://github.com/getdyspatch/dyspatch-golang)\n- [Ruby](https://github.com/getdyspatch/dyspatch-ruby)\n"
  version: "2019.03"
  title: "Dyspatch API"
  termsOfService: "https://www.dyspatch.io/legal/terms-of-service/"
  contact:
    name: "Dyspatch Support"
    url: "https://docs.dyspatch.io"
    email: "support@dyspatch.io"
  x-logo:
    url: "/api/dyspatch_logo.png"
host: "api.dyspatch.io"
basePath: "/"
tags:
- name: "Templates"
  description: "Templates are the email templates found in your Dyspatch account.\
    \ Only the published Template Draft is returned.\nA typical integration will start\
    \ with using the Templates list endpoint to iterate through and sync Templates.\n"
- name: "Localizations"
  description: "Localization objects are the same as Template objects except they\
    \ contain localized content.\nIf your account is using localizations then use\
    \ this instead of the compiled Template object.\n"
schemes:
- "https"
paths:
  /templates:
    get:
      tags:
      - "Templates"
      summary: "List Templates"
      description: "Gets a list of Template Metadata objects for all templates. Up\
        \ to 25 results returned before results are paginated."
      produces:
      - "application/vnd.dyspatch.2019.03+json"
      parameters:
      - name: "cursor"
        in: "query"
        description: "A cursor value used to retrieve a specific page from a paginated\
          \ result set."
        required: false
        type: "string"
        x-exportParamName: "Cursor"
        x-optionalDataType: "String"
      responses:
        200:
          description: "A list of templates"
          headers:
            X-RateLimit-Remaining:
              type: "integer"
              description: "The number of requests left for the time window."
          schema:
            $ref: "#/definitions/TemplatesRead"
        400:
          description: "Invalid request"
          headers:
            X-RateLimit-Remaining:
              type: "integer"
              description: "The number of requests left for the time window."
          schema:
            $ref: "#/definitions/APIError"
        401:
          description: "Unauthenticated"
          headers:
            X-RateLimit-Remaining:
              type: "integer"
              description: "The number of requests left for the time window."
          schema:
            $ref: "#/definitions/APIError"
        403:
          description: "Unauthorized"
          headers:
            X-RateLimit-Remaining:
              type: "integer"
              description: "The number of requests left for the time window."
          schema:
            $ref: "#/definitions/APIError"
        429:
          description: "Rate limit exceeded"
          headers:
            X-RateLimit-Remaining:
              type: "integer"
              description: "The number of requests left for the time window."
          schema:
            $ref: "#/definitions/APIError"
        500:
          description: "Server error"
          headers:
            X-RateLimit-Remaining:
              type: "integer"
              description: "The number of requests left for the time window."
          schema:
            $ref: "#/definitions/APIError"
        default:
          description: "Server error"
          headers:
            X-RateLimit-Remaining:
              type: "integer"
              description: "The number of requests left for the time window."
          schema:
            $ref: "#/definitions/APIError"
      security:
      - Bearer: []
  /templates/{templateId}:
    get:
      tags:
      - "Templates"
      summary: "Get Template by ID"
      description: "Gets a template object with the matching ID. If the template has\
        \ published content the \"compiled\" field will contain the template ."
      produces:
      - "application/vnd.dyspatch.2019.03+json"
      parameters:
      - name: "templateId"
        in: "path"
        description: "A template ID"
        required: true
        type: "string"
        x-exportParamName: "TemplateId"
      - name: "targetLanguage"
        in: "query"
        description: "The type of templating language to compile as. Should only be\
          \ used for visual templates."
        required: false
        type: "string"
        enum:
        - "html"
        - "jinja"
        - "handlebars"
        - "ampscript"
        - "freemarker"
        - "cheetah"
        x-exportParamName: "TargetLanguage"
        x-optionalDataType: "String"
      responses:
        200:
          description: "A template object with the requested ID. If the template has\
            \ no published content the \"compiled\" field will be *null*."
          headers:
            X-RateLimit-Remaining:
              type: "integer"
              description: "The number of requests left for the current time window"
          schema:
            $ref: "#/definitions/TemplateRead"
        400:
          description: "Invalid request"
          headers:
            X-RateLimit-Remaining:
              type: "integer"
              description: "The number of requests left for the time window."
          schema:
            $ref: "#/definitions/APIError"
        401:
          description: "Unauthenticated"
          headers:
            X-RateLimit-Remaining:
              type: "integer"
              description: "The number of requests left for the time window."
          schema:
            $ref: "#/definitions/APIError"
        403:
          description: "Unauthorized"
          headers:
            X-RateLimit-Remaining:
              type: "integer"
              description: "The number of requests left for the time window."
          schema:
            $ref: "#/definitions/APIError"
        404:
          description: "Resource not found"
          headers:
            X-RateLimit-Remaining:
              type: "integer"
              description: "The number of requests left for the time window."
          schema:
            $ref: "#/definitions/APIError"
        429:
          description: "Rate limit exceeded"
          headers:
            X-RateLimit-Remaining:
              type: "integer"
              description: "The number of requests left for the time window."
          schema:
            $ref: "#/definitions/APIError"
        500:
          description: "Server error"
          headers:
            X-RateLimit-Remaining:
              type: "integer"
              description: "The number of requests left for the time window."
          schema:
            $ref: "#/definitions/APIError"
        default:
          description: "Server error"
          headers:
            X-RateLimit-Remaining:
              type: "integer"
              description: "The number of requests left for the time window."
          schema:
            $ref: "#/definitions/APIError"
      security:
      - Bearer: []
  /localizations/{localizationId}:
    get:
      tags:
      - "Localizations"
      summary: "Get Localization Object by ID"
      description: "Returns a specific localization object with a matching ID"
      produces:
      - "application/vnd.dyspatch.2019.03+json"
      parameters:
      - name: "localizationId"
        in: "path"
        description: "A localization ID"
        required: true
        type: "string"
        x-exportParamName: "LocalizationId"
      - name: "targetLanguage"
        in: "query"
        description: "The type of templating language to compile as. Should only be\
          \ used for visual templates."
        required: false
        type: "string"
        enum:
        - "html"
        - "jinja"
        - "handlebars"
        - "ampscript"
        - "freemarker"
        - "cheetah"
        x-exportParamName: "TargetLanguage"
        x-optionalDataType: "String"
      responses:
        200:
          description: "A localization object with the requested ID"
          headers:
            X-RateLimit-Remaining:
              type: "integer"
              description: "The number of requests left for the current time window"
          schema:
            $ref: "#/definitions/LocalizationRead"
        400:
          description: "Invalid request"
          headers:
            X-RateLimit-Remaining:
              type: "integer"
              description: "The number of requests left for the time window."
          schema:
            $ref: "#/definitions/APIError"
        401:
          description: "Unauthenticated"
          headers:
            X-RateLimit-Remaining:
              type: "integer"
              description: "The number of requests left for the time window."
          schema:
            $ref: "#/definitions/APIError"
        403:
          description: "Unauthorized"
          headers:
            X-RateLimit-Remaining:
              type: "integer"
              description: "The number of requests left for the time window."
          schema:
            $ref: "#/definitions/APIError"
        404:
          description: "Resource not found"
          headers:
            X-RateLimit-Remaining:
              type: "integer"
              description: "The number of requests left for the time window."
          schema:
            $ref: "#/definitions/APIError"
        429:
          description: "Rate limit exceeded"
          headers:
            X-RateLimit-Remaining:
              type: "integer"
              description: "The number of requests left for the time window."
          schema:
            $ref: "#/definitions/APIError"
        500:
          description: "Server error"
          headers:
            X-RateLimit-Remaining:
              type: "integer"
              description: "The number of requests left for the time window."
          schema:
            $ref: "#/definitions/APIError"
        default:
          description: "Server error"
          headers:
            X-RateLimit-Remaining:
              type: "integer"
              description: "The number of requests left for the time window."
          schema:
            $ref: "#/definitions/APIError"
      security:
      - Bearer: []
securityDefinitions:
  Bearer:
    description: "Set Bearer followed by your API key as the Authorization header\
      \ in your API requests.\n\n```shell\nAuthorization: Bearer EXAMPLEAPIKEYXXXXXXXX12345678\n\
      ```\n\nBelow is an example curl request with an API key in the Authorization\
      \ header.\n\n```shell\ncurl --request GET \\\n--url https://api.dyspatch.io/templates\\\
      \n--header 'Authorization: Bearer EXAMPLEAPIKEYXXXXXXXX12345678'\n```\n"
    type: "apiKey"
    name: "Authorization"
    in: "header"
definitions:
  cursor:
    type: "object"
    properties:
      next:
        type: "string"
        description: "A cursor to fetch the next page of results"
      hasMore:
        type: "boolean"
        description: "Whether there is a next page of results"
    description: "Information about paginated results"
  TemplateMetaRead:
    type: "object"
    properties:
      id:
        type: "string"
        example: "tem_g3L7Cw6Hp5wU"
        description: "An opaque, unique identifier for a template"
      name:
        type: "string"
        description: "The name of a template"
      description:
        type: "string"
        description: "A description of the template"
      url:
        type: "string"
        example: "/templates/tem_g3L7Cw6Hp5wUaf395LehwK"
        description: "The API url for a specific template"
      localizations:
        type: "array"
        description: "A list of the template's available localization objects"
        items:
          $ref: "#/definitions/LocalizationMetaRead"
      createdAt:
        type: "string"
        format: "date-time"
        description: "The time of initial creation"
      updatedAt:
        type: "string"
        format: "date-time"
        description: "The time of last update"
  TemplatesRead:
    type: "object"
    properties:
      cursor:
        $ref: "#/definitions/cursor"
      data:
        type: "array"
        description: "A list of template metadata objects"
        items:
          $ref: "#/definitions/TemplateMetaRead"
  TemplateRead:
    type: "object"
    properties:
      id:
        type: "string"
        example: "tem_g3L7Cw6Hp5wU"
        description: "An opaque, unique identifier for a template"
      name:
        type: "string"
        description: "The name of a template"
      description:
        type: "string"
        description: "A description of the template"
      url:
        type: "string"
        example: "/templates/tem_g3L7Cw6Hp5wUaf395LehwK"
        description: "The API url for a specific template"
      compiled:
        $ref: "#/definitions/CompiledRead"
      createdAt:
        type: "string"
        format: "date-time"
        description: "The time of initial creation"
      updatedAt:
        type: "string"
        format: "date-time"
        description: "The time of last update"
      localizations:
        type: "array"
        description: "A list of the Template's available localizations"
        items:
          $ref: "#/definitions/LocalizationMetaRead"
  LocalizationMetaRead:
    type: "object"
    properties:
      id:
        type: "string"
        example: "loc_g3L7Cw6Hp5wUaf395LehwK"
        description: "An opaque, unique identifier for a localization"
      language:
        type: "string"
        example: "en-US"
        description: "A language identifier comprised of a language and a country\
          \ identifier. \nSee [supported languages](https://docs.dyspatch.io/localization/supported_languages/).\n"
      name:
        type: "string"
        example: "English (US)"
        description: "The user-specified name of a localization"
      url:
        type: "string"
        example: "/localizations/loc_g3L7Cw6Hp5wUaf395LehwK"
        description: "The API url for a specific localization"
  LocalizationRead:
    type: "object"
    properties:
      id:
        type: "string"
        example: "loc_g3L7Cw6Hp5wUaf395LehwK"
        description: "An opaque, unique identifier for a localization"
      language:
        type: "string"
        example: "en-US"
        description: "A language identifier comprised of a language and a country\
          \ identifier. \nSee [supported languages](https://docs.dyspatch.io/localization/supported_languages/).\n"
      url:
        type: "string"
        example: "/localizations/loc_g3L7Cw6Hp5wUaf395LehwK"
        description: "The API url for a specific localization"
      template:
        type: "string"
        example: "tem_g3L7Cw6Hp5wU"
        description: "An opaque, unique identifier for a template"
      compiled:
        $ref: "#/definitions/CompiledRead"
      createdAt:
        type: "string"
        format: "date-time"
        description: "The time of initial creation"
      updatedAt:
        type: "string"
        format: "date-time"
        description: "The time of last update"
      name:
        type: "string"
        example: "English (US)"
        description: "The user-specified name of a localization"
  APIError:
    type: "object"
    properties:
      code:
        type: "string"
        description: "Error code:\n  * server_error - Internal server error.\n  *\
          \ invalid_parameter - Validation error, parameter will contain invalid field\
          \ and message will contain the reason.\n  * invalid_body - Body could not\
          \ be parsed, message will contain the reason.\n  * invalid_request - Validation\
          \ error, the protocol used to make the request was not https.\n  * unauthorized\
          \ - Credentials were found but permissions were not sufficient.\n  * unauthenticated\
          \ - Credentials were not found or were not valid.\n  * not_found - The requested\
          \ resource was not found.\n  * rate_limited - The request was refused because\
          \ a rate limit was exceeded. There is an account wide rate limit of 3600\
          \ requests per-minute, although that is subject to change. The current remaining\
          \ rate limit can be viewed by checking the X-Ratelimit-Remaining header.\n"
        enum:
        - "server_error"
        - "invalid_parameter"
        - "invalid_body"
        - "invalid_request"
        - "unauthorized"
        - "unauthenticated"
        - "not_found"
        - "rate_limited"
      message:
        type: "string"
        description: "Human readable error message"
      parameter:
        type: "string"
        description: "The invalid parameter, if 'code' is invalid_parameter"
  CompiledRead:
    type: "object"
    properties:
      sender:
        type: "string"
        example: "Example <example@dyspatch.io>"
        description: "Sender address"
      replyTo:
        type: "string"
        example: "Example <example@dyspatch.io>"
        description: "Reply-To address"
      subject:
        type: "string"
        format: "byte"
        example: "PGh0bWw+PC9odG1sPgo="
        description: "Base64 encoded template subject line"
        pattern: "^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$"
      html:
        type: "string"
        format: "byte"
        example: "PGh0bWw+PC9odG1sPgo="
        description: "Base64 encoded template HTML body"
        pattern: "^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$"
      text:
        type: "string"
        format: "byte"
        example: "PGh0bWw+PC9odG1sPgo="
        description: "Base64 encoded template text body"
        pattern: "^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$"
parameters:
  version:
    name: "Accept"
    in: "header"
    description: "A version of the API that should be used for the request. For example,\
      \ to use version \"2019.03\", set the value to \"application/vnd.dyspatch.2019.03+json\""
    required: false
    type: "string"
  cursor:
    name: "cursor"
    in: "query"
    description: "A cursor value used to retrieve a specific page from a paginated\
      \ result set."
    required: false
    type: "string"
    x-exportParamName: "Cursor"
    x-optionalDataType: "String"
  templateId:
    name: "templateId"
    in: "path"
    description: "A template ID"
    required: true
    type: "string"
    x-exportParamName: "TemplateId"
  targetLanguage:
    name: "targetLanguage"
    in: "query"
    description: "The type of templating language to compile as. Should only be used\
      \ for visual templates."
    required: false
    type: "string"
    enum:
    - "html"
    - "jinja"
    - "handlebars"
    - "ampscript"
    - "freemarker"
    - "cheetah"
    x-exportParamName: "TargetLanguage"
    x-optionalDataType: "String"
  localizationId:
    name: "localizationId"
    in: "path"
    description: "A localization ID"
    required: true
    type: "string"
    x-exportParamName: "LocalizationId"
responses:
  InternalError:
    description: "Server error"
    headers:
      X-RateLimit-Remaining:
        type: "integer"
        description: "The number of requests left for the time window."
    schema:
      $ref: "#/definitions/APIError"
  InvalidRequest:
    description: "Invalid request"
    headers:
      X-RateLimit-Remaining:
        type: "integer"
        description: "The number of requests left for the time window."
    schema:
      $ref: "#/definitions/APIError"
  NotFound:
    description: "Resource not found"
    headers:
      X-RateLimit-Remaining:
        type: "integer"
        description: "The number of requests left for the time window."
    schema:
      $ref: "#/definitions/APIError"
  RateLimited:
    description: "Rate limit exceeded"
    headers:
      X-RateLimit-Remaining:
        type: "integer"
        description: "The number of requests left for the time window."
    schema:
      $ref: "#/definitions/APIError"
  Unauthenticated:
    description: "Unauthenticated"
    headers:
      X-RateLimit-Remaining:
        type: "integer"
        description: "The number of requests left for the time window."
    schema:
      $ref: "#/definitions/APIError"
  Unauthorized:
    description: "Unauthorized"
    headers:
      X-RateLimit-Remaining:
        type: "integer"
        description: "The number of requests left for the time window."
    schema:
      $ref: "#/definitions/APIError"
